/* .header{
    position: absolute;
    top: 0;
    width: 100%;
} */

/* .header-img{
    width: 100vw;
    height :90vh;
    object-fit: cover;
    position: absolute;
    top:12vh;
    left :0;
    z-index: -2;
}
.cover{
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 123, 193,0.9);
    mix-blend-mode: multiply;
    position : absolute;
    top: 12vh;
    z-index: -1;
}
*/
.container{
    position: relative;
    top: auto;
}

.header{
    background-image: url('./work-desk__dustin-lee.jpg');
    background-position: center;
    background-color: rgba(0, 123, 193,0.9);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* min-width: 100vw; */
    /* min-height: 70vh; */
    background-blend-mode: multiply;
    transition: ease 0.5s;
    /* border: 1px solid red; */
    width: 100vw;
    height: 90vh;

}

.logo{
    width: 40px;
    /* border: 1px solid black; */
    margin: 20px;
}

.text{
    /* z-index: 3; */
    color: white;
    padding :0;
    /* border: 1px solid black; */
    text-align: center;
    width: 50vw;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    min-width: 80vw;
    
}

.text h1{
    font-weight: 300;
    margin: 10px;
}

.text h2{
    margin: 10px;
}

.text p {
    margin: 10px;
    line-height: 1.6;
}
.action-btn{
    text-transform: uppercase;
    color: white;
    background-color: rgba(255,255 ,255, 0);
    border-style: none;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    font-weight: 700;
    border-radius: 2px;
    margin-top: 2vh;
    transition: 0.3s;
    cursor: pointer;
}

.action-btn:hover{
    color: #004a75;
    background-color: white;
}
